
@{
    ViewData["Title"] = "welcome";

}

<h1>Bienvenido @Html.ViewData["username"]</h1>
<hr />
Tienes acceso a :

<table>

    <tbody>
        @foreach (var role in ViewBag.roles)
        {
            <tr><td>@role</td></tr>
        }
    </tbody>
</table>