
@{
    ViewData["Title"] = "welcome";
    
}

<h1>Bienvenido</h1>
<hr />
Tienes acceso a :

<table>

    <tbody>
        @foreach (var role in ViewBag.roles)
        {
            <tr><td>@role</td></tr>
        }
    </tbody>
</table>